<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="row">
  <div class="col-lg-3 ">
    {{> toc}}
  </div>
  <div class=" col-lg-9 col-sm-12 px-5 fs-5 blog-body ">
    <div class="blog-body--tag">
      {{#each tags}}
        <div class="{{this}} tag-item" onclick="location.href='/blog/tags/{{this}}'">{{this}}</div>
      {{/each}}
    </div>
    <div class="blog-body--title">{{blog.name}}</div>
    <div class="blog-body--time">{{blog.createAt}}</div>
    <div class=" mt-5 mb-5 blog-image">
      <img src="{{blog.image}}" alt="{{blog.name}}" id="thumnail" />
    </div>
    <div class="blog-content">
    {{{blog.html}}}
    </div>
    
  
  </div>
  {{!-- <div class=" col-lg-3 ">
    <div class="other-blog sticky-top pt-5">
      others
    </div>
  </div> --}}
</div>
<div class="row">
    <div class="mx-auto col-9" id="comment-component">
      <div class="comment-title">Comments ({{blog.countComments}})</div>
      <div class="comment-display"> 
        {{#each blog.comments}}
        <div class="single-comment">
          <div class="display-name ">
               {{this.displayName}}
          </div>
          <div class="comment-time">{{this.createAt}}</div>
          <div class="comment-content">
            {{this.commentContent}}
          </div>
          
          
        </div>
      {{/each}}
      </div>
      <div class="comment-create">
        <form method="POST">
          <div class="mb-3">
            <label for="displayNameInput" class="form-label">Display Name</label>
            <input type="text" class="form-control " id="displayNameInput" name="displayName" >
          
          </div>
          <div class="mb-3">
            <label for="yourCommentInput" class="form-label">Your Comment</label>
            <input type="text" class="form-control" id="yourCommentInput" name="commentContent">
              <div id="commentHelp" class="form-text">Use Window + . for icons ❤️</div>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </form> 
      </div>
      
    </div>
</div>
<script src="/js/blog.js"></script>
</body>
</html>
